* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(36, 55, 99, 255);
}
.navbar {
  background-color: #ff6e31 !important;
}
#navbarSupportedContent ul {
  margin-left: auto;
  margin-right: 0 !important;
}
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 70px;
  color: white;
}
p {
  text-align: justify;
  text-justify: inter-word;
  color: white;
}
.logo {
  text-align: center;
}
.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  background: rgb(36, 55, 99, 255, 0.5);
}

.container {
  color: #ff6e31;
}
a {
  color: white;
}
.links {
  text-align: center;
  display: block;
  color: white;
}




.orange {
  color: #ff6e31;
}
.background-color {
  background-color: #ff6e31;
  text-align: left;
  display: block;
}
.copy {
  font-size: 15px;
}

#footer {
  background-color: #ff6e31;
  padding: 30px 0 0 0;
}
.shortcuts a {
  text-align: center;
  display: block;
  color: white;
}
.hameenlinna-logo {
  padding-bottom: 30px;
}
.social {
  display: grid;
  justify-content: center;
}
#footer a {
  background-color: #ff6e31;
}
/* Styles for Links section */

.deco {
  color: #000000;
  text-decoration: none;
}
.bgcard {
  background-color: #ff6e31;
  justify-content: center;
}

.bgcard:hover {
  background-color: #ffbd31;
}
.linkCap {
  color: #000000;
}

.linkCap {
  color: #000000;
}
.linkCap {
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

.cardbg {
  background-color: #ffbd31;
}



/* End the Styles for Links section */

/* Media placement needs to be figured out once all the code is ready */
@media (max-width: 767px) {
  #carousel .carousel-item h2 {
    font-size: 30px;
  }
  #carousel .carousel-item p {
    font-size: 15px;
  }
  #news {
    margin-top: 0;
  }
  #footer p,
  h3 {
    text-align: center;
  }
  #footer .hameenlinna-logo {
    display: block;
    margin: 0 auto;
  }
  #navbarSupportedContent li {
    margin-left: auto;
    margin-right: 0 !important;
  }
}
